NEXT_PUBLIC_AO_PROCESS_ID="Dcz9F09Klur3xv3jzBbCuEEj4eO-OU9TImxbfQDfKyQ"
NEXT_PUBLIC_AO_SCHEDULER=eU8XgZWrPTkYRSNV_jOw8BGO_V3bfMzQtpIpDxVlBZw
NEXT_PUBLIC_AO_GATEWAY=https://gateway.ao-testnet.xyz
NEXT_PUBLIC_NETWORK=testnet